.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  
  .pagination a {
    text-decoration: none;
    color: white;
    background-color: #007AFF;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  
  .pagination a:hover {
    background-color: white;
    color: #007AFF;
    border: 1px solid #007AFF;

  }
  .disableda{pointer-events: none;
    /* background-color: #ccc; */
    background-color: white;
    color: #999;}
  
  .pagination .active a {
    background-color: white;
    color: #007AFF;
    border: 1px solid #007AFF;
  }
  .activebutton{
    text-decoration: none;
    color: white;
    background-color: #007AFF;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }
  .disabledbutton{
    background-color:#007AFF;
    color: white;
    pointer-events: none;
    padding: 8px 12px;
    border-radius: 50%;
    border: none;
    /* border: 1px solid #007AFF; */
  }
  button:hover {
    background-color: white;
    color: #007AFF;
    border: 1px solid #007AFF;

  }